{
    "user":"your_RH_user",
    "password":"your_RH_password",
    "tickers": [
        "AAPL",
        "IBM",
        "MANU",
        "WMT",
        "AZN",
        "HPE",
        "INTU",
        "TJX",
        "TGT",
        "COST",
        "OKTA",
        "QQQ",
        "CARA",
        "AMZN",
        "AXP",
        "CRM",
        "CSCO",
        "DIS",
        "FB",
        "GOOG",
        "HAL",
        "HAS",
        "IEF",
        "IWF",
        "MSFT",
        "NFLX",
        "NVDA",
        "RIG",
        "ROKU",
        "SNAP",
        "SPY",
        "TLT",
        "TSLA",
        "WLL"
    ]
}
